<div style="margin: 1%" class="parent">
  <div class="child" style="float: right">
    <button class="btn btn-outline-primary" routerLink="/">Sign out</button>
  </div>
  <div class="child" style="float: left">
    <form>
      <label for="x_in">Введите x:</label><br>
      <input type="text" id="x_in" placeholder="(-3, 3)" maxlength="5"/><br>
      <label for="y_in">Введите y:</label><br>
      <input type="text" id="y_in" placeholder="(-3, 3)" maxlength="5"/><br>
      <label for="r_in">Введите r:</label><br>
      <input type="text" id="r_in" placeholder="(-3, 3)" maxlength="5"/><br>
    </form>
  </div>
</div>
